* {
  margin: 0 auto;
}
body,
html {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  background: rgb(231, 231, 231);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 48px;
  background: white;
  line-height: 48px;
}
.content {
  flex: 1;
  box-sizing: border-box;
  padding-top: 20px;
  overflow-y:scroll;
}
.footer {
  width: 100%;
  height: 48px;
  background: white;
  line-height: 48px;
}
